h1{
	text-align:center;
}
button:hover {
    opacity: 0.8;
}
body{
font-family:'lucida grande' , tahoma , verdana , arain , sans serif;
background-color:#fff; 
background-image:..;
margin-top:10px;


}

#leftlogo{
	float:left;
	
}	

	
#rightlogo{
	float:right;
	color:#fff;
	text-align:center;
	margin-top:0px;
	font-size:20;
	font-style:bold;
	background-color:#000000;
	
}
#container{
width:1080px;
margin-top:5px;
padding:0px;
color:#000;
text-align:center;
font-size:40;
}

#banner{
	text-align:center;
	margin-top:10px;
	color:#000;
}
#navigation{
height:60px
border:3px solid #e3e3e3;
margin-top:10px;

}

ul#navmenu{
list-style-type:none;
font-size:20px;
}

ul#navmenu li{
width:200px;
text-align:center;
float:left;
margin-right:25px;
margin-top:0px;
}



ul#navmenu a{
text-decoration:none;
display: block;
width: 180px;
height: 25px;
background-color:#000;
border: 1px solid #ccc;
border-radius: 5px;
color:#fff;
}


content_area{
float:left;
width:750px;
margin:200px 0 200px 0;
padding:10px:
border: 3px solid #e3e3e3;
color:#000;
}

.column{
float: left;
width:25%;
margin-left:150px;
text-align:center;
font-size:30;
color:#fff;
font-style:bold;
}

.row::after{
content:"";
display: table;
clear:both;
}

#sidebar{
float:right;
width:250px;
margin=20px 10px 20px 10px;
border:3px solid #e3e3e3;
}

#footer{
clear:both;
width:auto;
height:20px;
padding:20px;
text-align:center;
}

table {
    /*border: 1px solid black;*/
	
    border-collapse: collapse;
	border-spacing:0px;
	display: block;
	float:right;
	text-align:center;
	margin-left:35px;
	
	}
th, td {
    text-align:center;
	/*border-width:0px;*/
   /* border: 2px solid black;*/
	padding:3px;
}

